<div class="currency-row" data-index="{{@index}}">
  <input type="text" class="currency-name" data-field="name" value="{{name}}" placeholder="Nome da Moeda">

  <div class="image-input flexrow">
    <img class="currency-preview" src="{{icon}}" width="32" height="32">
    <input type="text" data-field="icon" value="{{icon}}" placeholder="Caminho da imagem">
    <button class="file-picker" data-type="image" data-field="icon">
      <i class="fas fa-folder-open"></i>
    </button>
  </div>

  <button type="button" class="remove-currency" data-index="{{@index}}">
    <i class="fas fa-trash"></i>
  </button>
</div>
